@import "./../../styles/colors.scss";

.about-container {
    padding-bottom: 200px;
}
.about-title {
    display: flex;
    justify-content: center;
}
.about-para {
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    column-gap: 250px;
}
.aboutImg-wrap {
    max-width: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border:4px;
    border-style: solid;
    border-color:$primary;
}
#profile {
    border-radius: 10px;
}
.aboutImg-wrap:hover {
    animation: rotate 8s infinite;
    border:10px;
    border-style: solid;
    border-color:$primary;
    
    #profile {
        animation: counter-rotate 8s infinite;
        padding:15px;
        transition: all 0.3s ease;
        opacity: 1;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    12% {
        transform:rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes counter-rotate {
    0% {
        transform: rotate(0deg);
    }
    12% {
        transform:rotate(-45deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    37% {
        transform: rotate(-135deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    62% {
        transform: rotate(-225deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    87% {
        transform: rotate(-315deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}